.header {
  max-width: 880px;
  margin: 45px 0 0;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin: 0 0 41px;
}

@media screen and (max-width: 620px) {
  .header {
    margin: 0;
    border-bottom: rgba(84, 84, 84, 0.7) 1px solid;
    max-width: 100%;
  }

  .header__logo {
    margin: 45px auto 41px 40px;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .header__border {
    margin: 32px 0 38.25px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 28px auto 32px 27px;
  }
}
