.page {
  background-color: #000;
  color: #fff;
}

.page__content {
  margin: 45px 200px 60px;
  display: grid;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
