.profile {
  display: flex;
  margin: 0 0 47px 0;
  max-width: 880px;
  width: 100%;
}

.profile__avatar {
  display: flex;
  margin: 0 calc(200px - 177.5px) 0 0;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 0 3.75px 0 0;
}

.profile__content {
  display: flex;
  justify-content: space-between;
}

.profile__info {
  display: grid;
  align-content: center;
  grid-template-areas:
    "title button"
    "description description";
  grid-gap: 7px 18px;
  grid-template-columns: minmax(auto, 373px) auto;
  max-width: 415px;
  padding: 0 20px 0 0;
}

.profile__title {
  color: #fff;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 114.286% */
  align-items: center;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.profile__description {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-area: description;
  margin: 0;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background-image: url(../images/edit_pencil_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #fff;
  height: 24px;
  width: 24px;
  grid-area: button;
  justify-self: center;
  align-self: center;
}

.profile__edit-button:hover {
  background-image: url(../images/edit_button_active.png);
  border: #545454;
  cursor: pointer;
}

.profile__add-button {
  background-image: url(../images/plus_sign_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: #fff;
  align-self: center;
  border-radius: 2px;
  border: 2px #fff solid;
  height: 50px;
  width: 150px;
  margin: 0 0 0 auto;
  padding: 194px 200px auto auto;
  justify-self: flex-end;
}

.profile__add-button:hover {
  cursor: pointer;
  background-image: url(../images/add_button_active.png);
  color: #545454;
  align-self: center;
  border-radius: 2px;
  border: #545454 solid;
}

@media screen and (max-width: 620px) {
  .page {
    overflow-x: hidden;
  }

  .page__content {
    max-width: calc(100% - 40px);
    margin: 0;
    display: flex;
  }

  .content {
    margin: 0 19px;
    justify-content: center;
    width: 100%;
  }

  .profile {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .header {
    margin: 0;
  }

  .header__logo {
    margin: 50px auto 0 50px;
    padding: 0;
  }

  .profile__add-button {
    margin: 36px 0;
    width: 100%;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__description {
    font-size: 14px;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .profile__info {
    padding: 0;
    margin: 26.26px 0 0;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__image {
    margin: 0;
  }

  .footer__text {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0;
  }

  .header__border_bottom {
    margin: 32px 0 38.25px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 28px auto 0 27px;
    padding: 0;
  }
}

@media screen and (min-width: 620px) and (max-width: 770px) {
  profile__title {
    font-size: 30px;
  }

  .profile__description {
    font-size: 16px;
  }

  .profile__add-button {
    height: 50px;
    width: 50px;
  }
}
