.profile {
  display: flex;
  flex-direction: row;
  margin: 0 0 47px 0;
  min-width: 880px;
  width: 100%;
}

.profile__avatar {
  display: flex;
  margin-right: calc(200px - 177.5px);
}

.profile__avatar_image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 36px 4px 0 0;
}

.profile__info {
  display: grid;
  align-items: center;
  grid-template-areas:
    "title button"
    "description description";
  grid-gap: 9px 18px;
  grid-template-columns: minmax(auto, 373px) auto;
  max-width: 415px;
}

.profile__name {
  color: #fff;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 114.286% */
  display: flex;
  align-items: center;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-area: description;
  margin: 0;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background-image: url(../images/edit_pencil_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #fff;
  height: 24px;
  width: 24px;
  grid-area: button;
  justify-self: center;
  align-self: center;
}

.profile__edit-button:hover {
  background-image: url(../images/edit_button_active.png);
  border: #545454;
  cursor: pointer;
}

.profile__add-button {
  background-image: url(../images/plus_sign_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: #fff;
  align-self: center;
  border-radius: 2px;
  border: 2px #fff solid;
  height: 50px;
  width: 150px;
  margin: 0;
  padding: 0;
  justify-self: flex-end;
}

.profile__add-button:hover {
  cursor: pointer;
  background-image: url(../images/add_button_active.png);
  color: #545454;
  align-self: center;
  border-radius: 2px;
  border: #545454 solid;
}
